$primary-background: linear-gradient(to right, #53b897 , #9bc65e);
$transp-primary: linear-gradient(to right, #53b896aa , #9bc65e);
$secondary-background: linear-gradient(to right, #464646 , #191919);
$third-background: linear-gradient(to top, #f6f6f6 , #f9f9f9);
$title-color: #00d9a6;
$tile-color: #dbdbdb;