$primary-background: linear-gradient(to right, #53b897 , #9ac65e);
$secondary-background: linear-gradient(to right, #464646 , #9ac65e);
$third-background: linear-gradient(to top, #e5e5e5 , #f9f9f9);
$title-color: #00d9a6;